body{

}
header{
    margin: 0;
    height:600px ; /*k*/
    background-color: white;
    color: black;
    text-align: center;
    font-size: large;
    background-image: url(https://i.playground.ru/p/46zvwfUidGZtpVb1TSg7-g.jpeg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:  1px 5px 20px blue ;

}
h1{
    padding: 50px;
    
    margin: 0px;
}
.text{
    margin: 0;
    padding-top: 20px;
}
.shit{width:50% ;}
main{
    height:400px ; /*j*/
    background-color: brown;
    color: grey;
    text-align: center;
    font-size: large;
    padding: 10px;
    display: flex;
    
}
.shity{width:50% ;}

footer{
    height:200px ; /*[*/
    background-color: red;
    color: black;
    text-align: center;
    font-size: large;
    padding-top: 20px;
}
    
    

.parasha img{
    width: 100px
    padding-left: 10px;
}

.parasha{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}